@model IEnumerable<APIClient.DTOs.ReservationDTO>

@{
    ViewData["Title"] = "GetMyReservations";
}

<h1>@ViewData["Title"]</h1>


@if (TempData["ProcessText"] != null) {
<div>@TempData["ProcessText"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfJackets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfBags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model != null) {
    foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfJackets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfBags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
            </td>
        </tr>
    }
}
    </tbody>
</table>
