@model IEnumerable<APIClient.DTOs.ReservationDTO>

@{
    ViewData["Title"] = "MyReservations";
}

<h1>Mine Reservationer</h1>

@if (TempData["ProcessText"] != null) {
    <div>@TempData["ProcessText"]</div>
}

<table class="table">

    <thead>
        <tr>
            <th>
                Ankomsttid:
            </th>
            <th>
                Antal jakker:
            </th>
            <th>
                Antal tasker:
            </th>
            <th>
                Pris:
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null) {
            foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountOfJackets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountOfBags)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
                        </td>*@
                </tr>
            }
        }
    </tbody>
</table>
